---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;


a.snapchat {
  color: black;
  position: relative;
}

a.snapchat img {
  position: absolute;
  opacity: 0;
  width: 200px;
  left: -20;
  top: 0px;
  transition: opacity .5s, top .5s;
}

a.snapchat:hover img {
  opacity: 1;
  top: 0px;
}

/*
img.rp {
  width: 50%; /* 부모 요소의 너비에 맞춰지게 */
  height: auto; /* 가로세로 비율을 유지하기 위해 */
  object-fit: cover; /* 비율 유지하며 컨테이너를 꽉 채우도록 */
}
*/

.rp {
  max-width: 50%; /* Ensures the image scales down to fit its container */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Helps with layout and centering */
  /* border-radius: 50%; */ /* Creates a circular shape */
  /* border: 2px solid #ccc; */ /* Optional: Adds a subtle border */
}
